<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734212842168-8jaspdcchqavqjrqo768ujej1qjm5tna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734212842168-8jaspdcchqavqjrqo768ujej1qjm5tna</string>
	<key>API_KEY</key>
	<string>AIzaSyCAC-HKE50KaPLkZZPhUSH66knz3viSljQ</string>
	<key>GCM_SENDER_ID</key>
	<string>734212842168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.onbrix</string>
	<key>PROJECT_ID</key>
	<string>onbrix</string>
	<key>STORAGE_BUCKET</key>
	<string>onbrix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734212842168:ios:e17d46f7d14f54c80b4a4d</string>
</dict>
</plist>